<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arnaud.sh</title>
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
</head>
<body>
    <header>
        <div class="my-container">
            <h1>
                Arnaud <span class="text-2xl text-gray-400">lightdiscord</span>
            </h1>
            <p>
                I'm a student learning programming, hacking and <a rel="me" href="https://infosec.exchange/@lightdiscord">mastodon</a>. Some of my work is
                available on my <a href="https://github.com/LightDiscord">GitHub</a>.
                I'm also enjoying CTF challenges and doing some on 
                <a href="https://www.root-me.org/LightDiscord">root-me</a>.
            </p>
        </div>
    </header>
    <main>
        <div class="my-container">
            <h2 class="text-2xl">My notes</h2>
            <div class="mt-4 flex flex-col gap-y-6">
            {%- for note in collections.notes -%}
            <div>
                <p class="font-bold">{{ note.data.title }}</p>
                <p>{{ note.data.description }}</p>
                <a href="{{ note.url }}">
                    See article
                </a>
            </div>
            {%- endfor -%}
            </div>
        </div>
    </main>
</body>
</html>
