---
permalink: "notes/{{title | slugify}}/index.html"
tags: notes
---
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arnaud.sh - {{ title }}</title>

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="article:author" content="LightDiscord">
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism-vsc-dark-plus.css' | url }}">
</head>
<body class="container page-article">
    <header class="py-16">
        <hgroup class="pb-2">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </hgroup>

        <nav>
            <a href="/notes">Go back to notes</a>
        </nav>
    </header>
    <header>
        <div class="my-container">
        </div>
    </header>
    <main>
        <div class="my-container">
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </main>
</body>
</html>
