---
permalink: "notes/{{title | slugify}}/index.html"
tags: notes
---
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arnaud.sh - {{ title }}</title>

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="article:author" content="LightDiscord">
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism-vsc-dark-plus.css' | url }}">
</head>
<body class="bg-zinc-950 text-zinc-50 flex flex-col min-h-screen font-sans">
    <div class="border-b-2 border-zinc-800">
        <nav class="container mx-auto border-x-2 border-zinc-800 py-8 px-8">
            <ol class="uppercase flex gap-4">
                <li><a class="bg-zinc-800 hover:bg-zinc-900 px-4 py-2" href="/" >Home</a></li>
                <li><a class="bg-zinc-900 hover:bg-zinc-900 px-4 py-2" href="/notes">Notes</a></li>
            </ol>
        </nav>
    </div>
    <div class="container mx-auto border-x-2 border-zinc-800 grow">
        <main class="flex flex-col text-justify">
            <hgroup class="border-b-2 border-zinc-800 p-8">
                <h1 class="font-bold text-4xl mb-4">{{title}}</h1>
                <p>{{description}}</p>
            </hgroup>

            <div class="p-8">
                <div class="prose prose-zinc prose-lg prose-invert prose-img:mx-auto max-w-none">
                    {{ content | safe }}
                </div>
            </div>
        </main>
    </div>
</body>
</html>