---
permalink: "index.html"
---
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arnaud.sh</title>
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
</head>
<body class="container">
    <header class="py-16">
        <h1 class="pb-2">About</h1>

        {% include "components/navbar.njk" %}
    </header>
    <main>
        <p>
            I'm Arnaud (also known as <span class="italic">LightDiscord</span>) and I'm a student
            learning programming and hacking. Some of my work is available on
            <a href="https://github.com/LightDiscord">GitHub</a> and I write notes here when I'm
            really motivated. Otherwise I'm enjoying CTF challenges on site such as
            <a href="https://www.root-me.org/LightDiscord">root-me</a> or reading messages on
            <a rel="me" href="https://infosec.exchange/@lightdiscord">mastodon</a>.
        </p>
        <!-- <div class="my-container">
            <h2 class="text-2xl">My notes</h2>
            <div class="mt-4 flex flex-col gap-y-6">
            {%- for note in collections.notes -%}
            <div>
                <p class="font-bold">{{ note.data.title }}</p>
                <p>{{ note.data.description }}</p>
                <a href="{{ note.url }}">
                    See article
                </a>
            </div>
            {%- endfor -%}
            </div>
        </div> -->
    </main>
</body>
</html>
