body
    background linear-gradient(to right, #7F00FF, #E100FF)
    color #fff

hr
    border-color #212121

blockquote
    border-left-color #9b4dca

a
    color #fff
    text-decoration underline

    &:hover
        color #fff

code
    background rgba(0, 0, 0, .35)
